<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="style.css">
<body>
    <div class="thePlanets">
        <h2>THE PLANETS</h2>
        <div class="allPlanets">
            <h3 id="firPlnt" class="sunChildren">MERCURY</h3>
            <h3 id="secPlnt" class="sunChildren">VENUS</h3>
            <h3 id="thiPlnt" class="sunChildren">EARTH</h3>
            <h3 id="forPlnt" class="sunChildren">MARS</h3>
            <h3 id="fifplnt" class="sunChildren">JUPITAR</h3>
            <h3 id="sixPlnt" class="sunChildren">SATURN</h3>
            <h3 id="svnPlnt" class="sunChildren">URANUS</h3>
            <h3 id="eitPlnt" class="sunChildren">NEPTUNE</h3>
        </div>
    </div>
</body>
</html>